:root {
    scrollbar-color: var(--accent-color) var(--dark-purple);
    scrollbar-width: thin;
}

a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

p {
    color: var(--grayish-purple);
}

*::selection {
    background-color: var(--accent-color);
    color: var(--white);
}


body {
    min-height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

.background-header {
    width: 100%;
    height: 320px;
    margin-bottom: -180px;
    background-image: url("../assets/images/background-pattern-desktop.svg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.faqs {
    width: fit-content;
    height: fit-content;
    padding: 32px;
    margin: 0 16px;
    background-color: var(--white);
    border-radius: 16px;
}

.faqs-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.faqs-header img {
    width: 48px;
    height: 48px;
}

.faqs-title {
    font-size: 62px;
    font-weight: 700;
}

.faqs-container>*:not(:last-child) {
    border-bottom: 1px solid var(--light-pink);
}

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faq::details-content {
    content-visibility: visible;
}

.faq-summary {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
    padding-top: 24px;

    &:hover {
        color: var(--accent-color);
        cursor: pointer;
    }
}

.faq-summary picture {
    padding: 16px;
    position: relative;
}

.faq-summary picture img {
    position: absolute;
    inset: 0;
}

.openIcon {
    opacity: 1;
    transform: scale(1);
    transition: scale .3s ease, opacity .3s ease;
}

.closeIcon {
    opacity: 0;
    transform: scale(0);
    transition: transform .3s ease, opacity .3s ease;
}

.faq[open] .closeIcon {
    opacity: 1;
    transform: scale(1);
    transition: transform .3s ease, opacity .3s ease;
}

.faq[open] .openIcon {
    opacity: 0;
    transform: scale(0);
    transition: transform .3s ease, opacity .3s ease;
}

.faq[open] .faq-content {
    max-height: 200px;
}

.faq-content {
    margin-bottom: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

footer {
    margin-top: auto;
    padding: 16px;
    text-align: center;
}