body {
    min-height: 100dvh;
    background-color: var(--background-color);
}

.background-header {
    width: 100%;
    height: 320px;
    margin-bottom: -160px;
    background-image: url("../assets/images/background-pattern-desktop.svg");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}